<h1>Login</h1>

<div>
    <%= form_with(scope: :session, url: create_session_path) do |form| %>
        <div>
            <%= form.label :email %>
            <%= form.email_field :email, required: true %>
        </div>

        <div>
            <%= form.label :password %>
            <%= form.password_field :password, required: true %>
        </div>

        <div>
            <%= form.submit "Login" %>
        </div>
    <% end %>
</div>

<h1 class="text-3xl font-bold underline">
  Hello, Tailwind CSS!
</h1>